body {
  background-color: black;
  color: white;
  text-align: center;
}

.btn {
  background-color: white;
  border-radius: 15px;
  color: black;
}

.mode_btn {
  font-size: 1.2rem;
  height: 15vh;
  margin-block: 2vh;
  margin-inline: 3vw;
  width: 40vw;
}

.g_content {
  font-size: 10rem;
  line-height: 35vh;
}

.game_btn {
  font-size: 2rem;
  height: 15vh;
  margin-block: 2.5vh;
  margin-inline: 20vw;
  width: 40vw;
}

.invisible {
  display: none;
}

@media (min-width: 1024px) {
  .mode_btn {
    margin-inline: 1vw;
    width: 18vw;
  }

  .game_btn {
    font-size: 2rem;
    height: 15vh;
    margin-block: 2.5vh;
    margin-inline: 20vw;
    width: 40vw;
  }
}